.Counter {
	height: 100vh;
	width: 100vw;
	background: #e1e1e1;
	display: flex;
	padding: 2rem;
	justify-content: center;
	align-items: flex-end;
}
.Counter-header {
  height: 50%;
  width: 75%;
  box-shadow: 0 0 1rem 0.3rem #919191;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Counter-header > div {
  height: 75%;
  width: 75%;
  margin: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Counter-header > div > div {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 5rem;
	font-weight: 700;
    text-shadow: 0 0 1rem #919191aa;
}

.Counter__Button {
	height: 3rem;
	width: 30%;
	background: rgba(250,250,250, 0.7);
    border: none;
    border-radius: 1rem;
    transition: 0.420s;
}

.Counter__Button:hover{
    transform: scale(1.05);
	background: rgba(190,190,190, 0.7);
}

.Counter__Button:active{
    background: rgba(45,40,50, 0.7);
}
.Counter__Button:focus{
    border: solid 1px;
}